.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    flex-direction: column;
}
.row {
    font-family: 'Times New Roman';
    font-size: 14px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.row label:first-child {
    width: 150px;
}
.row {
    margin-bottom: 10px;
}
.row input,
.row input::placeholder {
    font-family: 'Times New Roman';
    font-size: 14px;
}
.row input {
    padding: 5px 10px;
    border: 1px solid #cccccc;
    width: 300px;
    box-sizing: border-box;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance:textfield;
}